<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="./css/layout.css" media="all" rel="stylesheet" type="text/css" />
    <title><%= title %></title>

    <script>
        function changeContent(dir) {
            var path = document.contentFrame.location.href.split('/');
            path.pop();
            path.pop();
            path.push(dir)
            path.push('')
            path = path.join('/');
            if (path !== document.contentFrame.location.href) {
                document.contentFrame.location.replace(path + 'index.html');
                document.sourceFrame.location.replace(path + 'code.html');
            }
        }
    </script>
</head>
<body id ="main">
    <div id="header">
        <h1><%= title %></h1>
        <h2><a href="https://github.com/hirowaki/ebiten-test" target="_blank">https://github.com/hirowaki/ebiten-test</a></h2>
    </div>

    <div id="menu">
        <table>
            <% directories.forEach((dir) => { %>
            <% var name = dir.replace(/(^[a-z])|(_[a-z])/g, (l) => {return l.toUpperCase().replace('_', '');});%>
            <tr>
                <td>
                    <button class="button" onClick="changeContent('<%= dir %>');"><%= name %></button>
                </td>
            </tr>
            <% }); %>
        </table>
    </div>

    <div id="content">
        <div>
            <iframe src="./sample_tutorial1/index.html" name="contentFrame" width="640" height="480" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" style="border:none;"></iframe>
        </div>
        <div>
            <iframe src="./sample_tutorial1/code.html" name="sourceFrame" width="640" height="600" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" style="border:none;"></iframe>
        </div>
    </div>
</body>
</html>
