<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title><%= title %></title>
</head>

<body>
    <div>
        <% var _subtitle = subtitle.replace(/(^[a-z])|(_[a-z])/g, (l) => {return l.toUpperCase().replace('_', '');});%>
        <script type="text/javascript">document.write("<%= _subtitle %>")</script>
    </div>
    <%- contents %>

</body>
</html>
